﻿@model AspNetCoreMvcTemplate.Data.Models.SlideItem

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>SlideItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubTitle" class="control-label"></label>
                <input asp-for="SubTitle" class="form-control" />
                <span asp-validation-for="SubTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="hidden" required id="ImageinputId" asp-for="Image" class="form-control" />
                <img id="ImageimageId" src="@Model.Image" width="60px" />
                <span asp-validation-for="Image" class="text-danger"></span>
                <input name="Image" type="file">
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasDivOnBackGround" /> @Html.DisplayNameFor(model => model.HasDivOnBackGround)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsViewInWebSite" /> @Html.DisplayNameFor(model => model.IsViewInWebSite)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsVideo" /> @Html.DisplayNameFor(model => model.IsVideo)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="BackGroundUrl" class="control-label"></label>
                <input type="hidden" required id="BackGroundUrlinputId" asp-for="BackGroundUrl" class="form-control" />
                @*<img id="BackGroundUrlimageId" src="@Model.BackGroundUrl" width="60px" />*@
                @if (Model != null && Model.IsVideo)
                {
                    <video id="BackGroundUrlimageId" style="width:60px" autoplay loop muted playsinline class="video">
                        <source src="@Model.BackGroundUrl" type="video/webm">
                        <source src="@Model.BackGroundUrl" type="video/ogg">
                        <source src="@Model.BackGroundUrl" type="video/mp4">
                    </video>
                }
                else
                {
                    <img id="BackGroundUrlimageId" style="width:60px" src="@Model.BackGroundUrl" alt="slide">
                }
                <span asp-validation-for="BackGroundUrl" class="text-danger"></span>
                <input name="BackGroundUrl" type="file">
            </div>

            <div class="form-group">
                <label asp-for="Order" class="control-label"></label>
                <input asp-for="Order" class="form-control" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        $('input[name="BackGroundUrl"]').change(function (e) {
            parseFileOfInputId("BackGroundUrl", e);
        });

        $('input[name="Image"]').change(function (e) {
            parseFileOfInputId("Image", e);
        });

    </script>

}
