﻿@model IEnumerable<AspNetCoreMvcTemplate.Data.Models.SlideItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Slide Items</h1>

<p>this list is viewed in  <a href="/home/">Home </a> in Website Page</p>

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="fa fa-file"></i> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasDivOnBackGround)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsVideo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BackGroundUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                    @if (!item.IsViewInWebSite)
                    {
                        <span>(Not Viewed In Website)</span>
                    }


                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTitle)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.HasDivOnBackGround)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsVideo)
                </td>

                <td>
                    @if (item.IsVideo)
                    {
                        <video style="width:60px" autoplay loop muted playsinline class="video">
                            <source src="@item.BackGroundUrl" type="video/webm">
                            <source src="@item.BackGroundUrl" type="video/ogg">
                            <source src="@item.BackGroundUrl" type="video/mp4">
                        </video>
                    }
                    else
                    {
                        <img style="width:60px" src="@item.BackGroundUrl" alt="slide">
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="link pl-2 pr-2"><i class="fa fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="link pl-2 pr-2"><i class="fas fa-eye"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="link pl-2 pr-2"><i class="fa fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
