﻿@model IEnumerable<AspNetCoreMvcTemplate.Data.Models.SocialMediaLink>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Social Media Links</h1>
<p>this list is viewed in footer in any Website Page</p>

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="fa fa-file"></i> Create New</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IsFollowUsLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                    @if (!item.IsViewInWebSite)
                    {
                        <span>(Not Viewed In Website)</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Icon)
                    <i class="@item.Icon"></i>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFollowUsLink)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order)
                </td>
                <td>
                    <a asp-action="Edit" class="link" asp-route-id="@item.Id" class="link pl-2 pr-2"><i class="fa fa-edit"></i></a>
                    <a asp-action="Details" class="link" asp-route-id="@item.Id" class="link pl-2 pr-2"><i class="fas fa-eye"></i></a>
                    <a asp-action="Delete" class="link" asp-route-id="@item.Id" class="link pl-2 pr-2"><i class="fa fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
