﻿@model AspNetCoreMvcTemplate.Data.Models.CompanyLocation

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>CompanyLocation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LocationName" class="control-label"></label>
                <input asp-for="LocationName" class="form-control" />
                <span asp-validation-for="LocationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationAddress" class="control-label"></label>
                <input asp-for="LocationAddress" class="form-control" />
                <span asp-validation-for="LocationAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tel" class="control-label"></label>
                <input asp-for="Tel" class="form-control" />
                <span asp-validation-for="Tel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fax" class="control-label"></label>
                <input asp-for="Fax" class="form-control" />
                <span asp-validation-for="Fax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForSalesPhones" class="control-label"></label>
                <input asp-for="ForSalesPhones" class="form-control" />
                <span asp-validation-for="ForSalesPhones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForServiceAndSupportPhones" class="control-label"></label>
                <input asp-for="ForServiceAndSupportPhones" class="form-control" />
                <span asp-validation-for="ForServiceAndSupportPhones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="MapDivId" class="control-label">
                    MapDivId <a href="#" data-toggle="tooltip" title="this is must be mentioned in the script so it could work"><i class="fa fa-sticky-note"></i></a>
                </label>
                <input asp-for="MapDivId"  id="MapDivIdFrontId" class="form-control" />
                <span asp-validation-for="MapDivId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="ScriptForMap" class="control-label">
                    ScriptForMap <a href="#" data-toggle="tooltip" title="you must write the script that create the map using the MapDivId above"><i class="fa fa-sticky-note"></i></a>
                </label>
                <textarea asp-for="ScriptForMap" id="ScriptForMapId" class="form-control" rows="5"></textarea>
                <span asp-validation-for="ScriptForMap" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Order" class="control-label"></label>
                <input asp-for="Order" type="number" class="form-control" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>


            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsViewInWebSite" /> @Html.DisplayNameFor(model => model.IsViewInWebSite)
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDefaultLocation" /> @Html.DisplayNameFor(model => model.IsDefaultLocation)
                </label>
            </div>




            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <input type="button" onclick="resetMapScriptAndMapId()" value="Generate MapScript And MapId" class="btn btn-primary" />

            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>

    function S4() {
        return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
    }

    // then to call it, plus stitch in '4' in the third group
    guid = 'a' + (S4() + S4() + S4() + "4" + S4().substr(0, 3) + S4() + S4() + S4() + S4()).toLowerCase();
    function resetMapScriptAndMapId() {
        let autoGeneratedDivId = `
var egyptMap = new ol.Map({
interactions: ol.interaction.defaults({ mouseWheelZoom: false }),
target: "${guid}",
controls: [],
interactions: [],
layers: [new ol.layer.Tile({
source: new ol.source.OSM()})],
view: new ol.View({
center: ol.proj.fromLonLat([31.205753, 29.924526]),
zoom: 5})});addMarker(31.205753, 29.924526, 'Egypt', '', egyptMap);
`
    $("#ScriptForMapId").val(autoGeneratedDivId);
    $("#MapDivIdFrontId").val(guid);
    }



    (function () {
        resetMapScriptAndMapId();
    })();
</script>
}
