﻿@model AspNetCoreMvcTemplate.Data.Models.CompanyLocation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CompanyLocation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocationAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ForSalesPhones)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ForSalesPhones)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ForServiceAndSupportPhones)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ForServiceAndSupportPhones)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MapDivId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MapDivId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScriptForMap)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScriptForMap)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsViewInWebSite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsViewInWebSite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDefaultLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDefaultLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
