﻿@model IEnumerable<AspNetCoreMvcTemplate.Data.Models.ProductFocusItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Product Focus Items</h1>
<p>this list is viewed in  Products in Website</p>

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="fa fa-file"></i> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsViewInWebSite)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <imag width="90px" src="@item.Product.PageIcon"></imag>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img width="100px" src="@item.Image" alt="" class="img-fluid">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsViewInWebSite)
                </td>
                <td>
                    <a href="/home/product/@(item.ProductId)#features" class="link pl-2 pr-2"><i class="fa fa-location-arrow"></i></a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="link pl-2 pr-2"><i class="fa fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="link pl-2 pr-2"><i class="fas fa-eye"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="link pl-2 pr-2"><i class="fa fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
