﻿@model AspNetCoreMvcTemplate.Data.Models.AboutUsTitle

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AboutUsTitle</h4>
    <hr />
    <dl class="row">



        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            <img src="@Model.Image" width="90px" />
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsViewInWebSite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsViewInWebSite)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
