﻿@using AspNetCoreMvcTemplate.Data.Models
@using Microsoft.AspNetCore.Identity
@using AspNetCoreMvcTemplate.Web.Helpers
@{
    bool isInIdentity = ViewContext.RouteData.Values["area"].ToString() == "Identity";
    bool isLoginView = isInIdentity && ViewContext.RouteData.Values["page"].ToString().ToLower().Contains("login");
    bool isUserLogedIn = SignInManager.IsSignedIn(User);
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - XBOX</title>

    <link rel="stylesheet" type="text/css" href="~/websiteAssets/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/css/site.css" />
    <script type="text/javascript" src="https://kit.fontawesome.com/a076d05399.js"></script>

    @RenderSection("Css", required: false)

</head>

<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">

                <a class="navbar-brand" asp-area="Admin" asp-controller="AdminHome" asp-action="Index">
                    <img width="50px" src="~/websiteAssets/assets/images/logo-2.png">
                </a>


                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />

                </div>
            </div>
        </nav>
    </header>



    @*class="container"*@

    <div>
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">

            @if (isUserLogedIn)
            {


            <div class="row">
                <div class="col-md-2">
                    @*https://getbootstrap.com/docs/4.0/components/collapse/*@
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Index Page
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <a class="nav-link link" href="/Admin/BoxContainers">BoxContainers</a>
                                    <a class="nav-link link" href="/Admin/Partners">Partners</a>
                                    <a class="nav-link link" href="/Admin/SlideItems">SlideItems</a>
                                    <a class="nav-link link" href="/Admin/QuickLinks">QuickLinks</a>
                                </div>
                            </div>

                            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseProducts" aria-expanded="true" aria-controls="collapseProducts">
                                Products Page
                            </div>
                            <div id="collapseProducts" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <a class="nav-link link" href="/Admin/Products">Products</a>
                                    <a class="nav-link link" href="/Admin/ProductFocusItems">Focus Items</a>
                                </div>
                            </div>



                            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseContactUs" aria-expanded="true" aria-controls="collapseContactUs">
                                ContactUs Page
                            </div>
                            <div id="collapseContactUs" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <a class="nav-link link" href="/Admin/CompanyLocations">Locations</a>
                                </div>
                            </div>

                            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseAboutUs" aria-expanded="true" aria-controls="collapseAboutUs">
                                AboutUs Page
                            </div>
                            <div id="collapseAboutUs" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <a class="nav-link link" href="/Admin/AboutUs/edit">AboutUs</a>
                                    <a class="nav-link link" href="/Admin/AboutUsTitles">AboutUsTitles</a>
                                    <a class="nav-link link" href="/Admin/AboutUsCollapsibles">Collaps</a>
                                    <a class="nav-link link" href="/Admin/TeamMembers">TeamMembers</a>
                                </div>
                            </div>


                            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseGetInTouch" aria-expanded="true" aria-controls="collapseGetInTouch">
                                Get In Touch Page
                            </div>
                            <div id="collapseGetInTouch" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <a class="nav-link link" href="/Admin/ContactModels">ContactModels</a>
                                    <a class="nav-link link" href="/Admin/subscribermodels">Subscribers</a>
                                    @*<a class="nav-link link" href="/Admin/SubscribersMails">Sent Mails</a>*@
                                    <a class="nav-link link" href="/Admin/Socialmedialinks">Social links</a>

                                </div>
                            </div>



                            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseProfile" aria-expanded="true" aria-controls="collapseProfile">
                                Profile
                            </div>
                            <div id="collapseProfile" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <a class="nav-link" href="/identity/account/manage">Profile</a>
                                    <a class="nav-link" href="/identity/account/register">Add User</a>
                                </div>
                            </div>



                        </div>
                    </div>
                    <ul class="nav nav-pills flex-column">

                        @*Index Page
                            <a class="nav-link link" href="/Admin/BoxContainers">BoxContainers</a>
                            <a class="nav-link link" href="/Admin/Partners">Partners</a>
                            <a class="nav-link link" href="/Admin/SlideItems">SlideItems</a>
                            <a class="nav-link link" href="/Admin/QuickLinks">QuickLinks</a>

                            <br />
                            Products Page
                            <a class="nav-link link" href="/Admin/Products">Products</a>
                            <a class="nav-link link" href="/Admin/ProductFocusItems">ProductFocusItems</a>


                            <br />
                            ContactUs Page
                            <a class="nav-link link" href="/Admin/CompanyLocations">Locations</a>


                            <br />
                            AboutUs Page
                            <a class="nav-link link" href="/Admin/AboutUs/edit">AboutUs</a>
                            <a class="nav-link link" href="/Admin/AboutUsTitles">AboutUsTitles</a>
                            <a class="nav-link link" href="/Admin/TeamMembers">TeamMembers</a>


                            <br />
                            Get In Touch Page
                            <a class="nav-link link" href="/Admin/subscribermodels">Subscribers</a>
                            <a class="nav-link link" href="/Admin/ContactModels">ContactModels</a>
                            <br />

                            <li class="nav-item"><a class="nav-link" href="/identity/account/manage">Profile</a></li>
                            <li class="nav-item"><a class="nav-link" href="/identity/account/register">Add User</a></li>
                        *@
                    </ul>
                </div>
                <div class="col-md-10">
                    @RenderBody()
                </div>
            </div>
            }
            else if (isLoginView)
            {
            @RenderBody()

            }
            else
            {
            <span>
                @{
                        IgnoreBody();
                }
                Please Login First
            </span>
            }
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - AspNetCoreMvcTemplate - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/fileTransfering.js"></script>

    @RenderSection("Scripts", required: false)

</body>







</html>
