﻿@using AspNetCoreMvcTemplate.Data.Models
@using Microsoft.AspNetCore.Identity
@{
    bool isUserLogedIn = SignInManager.IsSignedIn(User);
}
@inject SignInManager<ApplicationUser> SignInManager




<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - XBOX</title>
    @*
        <link href="~/websiteAssets/assets/css/font-awesome.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" type="text/css" href="~/websiteAssets/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/websiteAssets/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/websiteAssets/assets/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/websiteAssets/assets/css/style.css">
    <link rel="stylesheet" href="~/websiteAssets/assets/css/ol.css" />
    <link rel="stylesheet" href="~/websiteAssets/assets/css/contact-us.css" />
    <link rel="icon" type="text/css" href="~/websiteAssets/assets/images/logo-2.png" />

    @RenderSection("Styles", required: false)

    @*
        <environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link href="~/css/Navstyle.css" rel="stylesheet" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
                  crossorigin="anonymous"
                  integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
        </environment>
        <link rel="stylesheet" href="~/css/site.css" />*@

</head>
<body>


    <div>
        @RenderBody()
    </div>

    <!--contact starts from here-->
    @*<partial name="_WebsiteContactPartial" , />*@


    @RenderSection("contact", true)



    <!--footer starts from here-->
    <footer class="footer aniview animated slideInUp" data-av-animation="slideInUp">
        @RenderSection("footer", false)
        <partial name="_WebsiteFooterPartial" />
    </footer>



    <script src="~/websiteAssets/assets/js/jquery-3.4.1.min.js"></script>
    <script src="~/websiteAssets/assets/js/popper.min.js"></script>
    <script src="~/websiteAssets/assets/js/bootstrap.min.js"></script>
    <script src="~/websiteAssets/assets/js/ol.js"></script>
    <script src="~/websiteAssets/assets/js/branches-map.js"></script>
    <script src="~/websiteAssets/assets/js/script.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/toast-flash-message-flashy/js/flashy.js"></script>
    <link href="~/toast-flash-message-flashy/css/flashy.css" rel="stylesheet" />
    <script src="~/js/jquery.aniview.js"></script>
    <script>
        $("#btnCreateContact").click(function () {
            var myform = $("#contactForm")[0];
            debugger;
            let isValidFporm = myform.checkValidity();

            if (!isValidFporm) {
                var d = flashy('Please Enter Valid Data', {
                    type: 'flashy__info'
                });
            }
            else {
                let contactObject = getEnteredData();
                console.log(contactObject);
                debugger;
                $.ajax({
                    type: 'POST',
                    url: '/api/Contact/Create',
                    data: JSON.stringify(contactObject),
                    dataType: "json",
                    contentType: "application/json",
                    error: function (err) {
                        flashy('SomeThing Went Wrong .. Please Try Later', {
                            type: 'flashy__warning',
                        });
                    },
                    success: function (data) {
                        console.log(data);
                        flashy('Thank You For Contacting Us', {
                            type: 'flashy__success'
                        });
                        removeEnteredData();
                    }
                });
            }





        });

        $('.aniview').AniView();


        function removeEnteredData() {
            $("#email").val("");
            $("#Tel").val("");
            $("#subject").val("");
            $("#message").val("");
        }

        function getEnteredData() {
            let contactObject = {
                Email: $("#email").val(),
                Phone: $("#Tel").val(),
                Subject: $("#subject").val(),
                Message: $("#message").val(),
                Id: 0,
            };
            return contactObject;
        }

    </script>


    @RenderSection("Scripts", required: false)
</body>
</html>
