@using AspNetCoreMvcTemplate.Data.Models
@using Microsoft.AspNetCore.Identity
@using AspNetCoreMvcTemplate.Web.Helpers

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IProductsHelper productHelper


<ul class="navbar-nav">
    
    @if (SignInManager.IsSignedIn(User))
    {



    @*<li class=" nav-item dropdown pl-2 pr-2">
            <a href="/Admin/products" id="obox-products" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false" class="link nav-link">
                Products <i class="fa fa-caret-down"></i>
            </a>
            <div class="dropdown-menu obox-header-dropdown"
                 aria-labelledby="obox-products">
                <div class="row">
                    @foreach (var product in productHelper.ViewedProducts)
                    {
                        <div class="col-md-4 col-sm-4 obox-product div-item">
                            <div class="@product.CssClass">
                                <div class="pl-2">
                                    <a  asp-area="" asp-controller="Home"  asp-action="Product" asp-route-id="@product.Id" >
                                        <img src="@product.Icon">
                                        <span class="font-weight-bold menue-item-text">
                                            @product.Name
                                        </span>
                                        <p class="product-slogan">
                                            @product.Description
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </li>*@



    <li class="nav-item ">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>

    <li class="nav-item nav-link">
        <a href="/Admin/AdminHome/LogoutAsync" class="link pl-2 pr-2">
            Logout
        </a>
    </li>

    }
    else
    {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
    }
</ul>