﻿@using AspNetCoreMvcTemplate.Data.Models
@using Microsoft.AspNetCore.Identity
@using AspNetCoreMvcTemplate.Web.Helpers

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IProductsHelper productHelper
@*<script src="~/websiteAssets/assets/js/jquery-3.4.1.min.js"></script>*@

@*<link rel="stylesheet" type="text/css" href="~/websiteAssets/assets/css/bootstrap.min.css">*@
@*<script src="~/websiteAssets/assets/js/bootstrap.min.js"></script>*@


<div class="col-md-6">
    <form id="contactForm" class="conact-us-form validate-form">
        <h5 class="pt-1 pb-1">
            Send a message
        </h5>
        <div class="wrap-input validate-input">
            <label class="label-input" for="email">
                <img src="~/websiteAssets/assets/images/icons/079-hourglass.png">
            </label>
            <input id="email" required class="input100" type="email" name="email"
                   placeholder="Your Email Address">
            <span class="focus-input"></span>
        </div>

        <div class="wrap-input validate-input">
            <label class="label-input" for="phone">
                <img src="~/websiteAssets/assets/images/icons/097-chat-1.png">
            </label>
            <input id="Tel" required class="input100" type="text" name="phone" placeholder="Your phone here">
            <span class="focus-input"></span>
        </div>

        <div class="wrap-input validate-input">
            <label class="label-input" for="subject">
                <img src="~/websiteAssets/assets/images/icons/025-filter-6.png">
            </label>
            <input id="subject" required class="input100" type="text" name="subject"
                   placeholder="Type subject here">
            <span class="focus-input"></span>
        </div>

        <div class="wrap-input validate-input">
            <textarea id="message" required class="input100" name="message"
                      placeholder="Write your message here !"></textarea>
            <span class="focus-input"></span>
        </div>
    </form>
    <div class="container-contact-us-form-btn">
        <button id="btnCreateContact" class="contact-us-form-btn">
            Send Message
        </button>
    </div>
</div>


@if (SignInManager.IsSignedIn(User))
{
    //user is loged in
}
else
{

}

