﻿@using AspNetCoreMvcTemplate.Data.Models
@using Microsoft.AspNetCore.Identity
@using AspNetCoreMvcTemplate.Web.Helpers

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IProductsHelper productHelper
@inject IDefaultLocationHelper defaultLocationHelper
@*<script src="~/websiteAssets/assets/js/jquery-3.4.1.min.js"></script>*@

@*<link rel="stylesheet" type="text/css" href="~/websiteAssets/assets/css/bootstrap.min.css">*@
@*<script src="~/websiteAssets/assets/js/bootstrap.min.js"></script>*@


<div class="section-bg" id="about">
    <div class="container" style="padding-bottom: 1.5em">
        <div class="row">


            @{ int i = 0;}

            @foreach (var location in defaultLocationHelper.DefaultLocations)
            {
                <div class="col-md-6 @(i>0?"border-left":"")">
                    <p class="mt-3">
                        P.O Box : @location.LocationAddress
                    </p>
                    <p>
                        Tel:  @location.Tel
                    </p>
                    <p>
                        Fax:  @location.Fax
                    </p>
                    <div>
                        For Sales, contact: @location.ForSalesPhones
                    </div>
                    <div>
                        Service and Support, contact @location.ForServiceAndSupportPhones
                    </div>
                </div>
            }




        </div>
    </div>
</div>


@if (SignInManager.IsSignedIn(User))
{
    //user is loged in
}
else
{

}

