@using AspNetCoreMvcTemplate.Data.Models
@using Microsoft.AspNetCore.Identity
@using AspNetCoreMvcTemplate.Web.Helpers

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IProductsHelper productHelper
@inject IQuickLinkssHelper quickLinkssHelper
@inject IDefaultLocationHelper defaultLocationHelper
@inject ISocialMediaLinkHelper SocialMediaLinkHelper


    <div class="container">
        <div class="row">
            <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                <h5 class="headin5_obox col_white_obox pt2">
                    Find
                    us
                </h5>
                @foreach (var location in defaultLocationHelper.DefaultLocations)
                {
                    <!--headin5_obox-->
                    <p class="mb10">
                        P.O Box : @location.LocationAddress
                    </p>
                    <p>
                        <i class="fa fa-location-arrow"></i>
                        Fax:  @location.Fax
                    </p>
                    <p>
                        <i class="fa fa-phone"></i>
                        Tel:  @location.Tel
                    </p>
                    <p>
                        <i class="fa fa fa-envelope"></i>
                        @location.Email
                    </p>

                    <hr style="border: 1px solid gray;">
                }

            </div>

            <div class=" col-sm-4 col-md  col-6 col">
                <h5 class="headin5_obox col_white_obox pt2">
                    Products
                </h5>
                <!--headin5_obox-->
                <ul class="footer_ul_obox">
                    @foreach (var product in productHelper.ViewedProducts)
                    {
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Product" asp-route-id="@product.Id">
                                @product.Name
                            </a>
                        </li>
                    }
                </ul>
                <!--footer_ul_obox ends here-->
            </div>


            <div class=" col-sm-4 col-md  col-6 col">
                <h5 class="headin5_obox col_white_obox pt2">
                    Quick
                    links
                </h5>
                <!--headin5_obox-->
                <ul class="footer_ul_obox">

                    @foreach (var qLink in quickLinkssHelper.ViewedQuickLinks)
                    {
                        <li>
                            <a href="@qLink.Link">@qLink.Name</a>
                        </li>
                    }

                </ul>
                <!--footer_ul_obox ends here-->
            </div>


            <div class=" col-sm-4 col-md  col-12 col">
                <h5 class="headin5_obox col_white_obox pt2">
                    Follow
                    us
                </h5>
                <!--headin5_obox ends here-->

                <ul class="footer_ul2_obox">
                    @foreach (var item in SocialMediaLinkHelper.Links)
                    {
                        if (item.IsFollowUsLink)
                        {
                            <li>
                                <a href="#">
                                    <i class="@(item.Icon) fleft padding-right"></i>
                                </a>
                                <p>
                                    @item.Description
                                    <a href="@item.Link">@item.Link</a>
                                </p>
                            </li>
                        }
                    }




                    @*<li>
                    <a href="@link.Link"><i class="@link.Icon"></i></a>
                </li>

                <li>
                    <a href="#">
                        <i class="@(link.Icon+" fleft padding-right")"></i>
                    </a>
                    <p>
                        @link.Description
                        <a href="@link.Link"> @link.Link</a>
                    </p>
                </li>*@











                </ul>
                <!--footer_ul2_obox ends here-->
            </div>
        </div>
    </div>


    <div class="container">
        @*<ul class="foote_bottom_ul_obox">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/Admin">Admin</a>
            </li>
            <li>
                <a href="#services">Services</a>
            </li>
        </ul>*@
        <!--foote_bottom_ul_obox ends here-->


        <ul class="social_footer_ul">
            @foreach (var link in SocialMediaLinkHelper.Links)
            {

                <li>
                    <a href="@link.Link"><i class="@link.Icon"></i></a>
                </li>

            }

            @*<li>
                    <a href="http://webenlance.com"><i class="fa fa-facebook-f"></i></a>
                </li>
                <li>
                    <a href="http://webenlance.com"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="http://webenlance.com"><i class="fa fa-linkedin"></i></a>
                </li>*@
        </ul>
        <!--social_footer_ul ends here-->
    </div>
