﻿@model IEnumerable<AspNetCoreMvcTemplate.Data.Models.Partner>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Partners</h1>
<p>this list is viewed in  <a href="/Home/">Pareners</a> in Website Home Page</p>

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="fa fa-file"></i> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                    @if (!item.IsViewInWebSite)
                    {
                        <span>(Not Viewed In Website)</span>
                    }
                </td>
                <td>
                    <img src="@item.Image" width="100px" alt="@item.Image">
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Order)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="link pl-2 pr-2"><i class="fa fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="link pl-2 pr-2"><i class="fas fa-eye"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="link pl-2 pr-2"><i class="fa fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
