.icon, .icon li a {
    text-align: center
}


.box10:after, .box10:before, .inner-content:after {
    content: ""
}

.box10 .title {
    letter-spacing: 1px
}

.mt-30 {
    margin-top: 30px
}

.mt-40 {
    margin-top: 40px
}

.mb-30 {
    margin-bottom: 30px
}

.box8 .icon, .box8 .title {
    margin: 0;
    position: absolute
}

.box8 {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    position: relative
}

.box8 img {
    width: 100%;
    height: auto
}

.box8 .box-content {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: perspective(400px) rotateX(-90deg);
    transform-origin: center top 0;
    transition: all .5s ease 0s
}

.box8 .icon li a, .box8 .title {
    background: #ef4050;
    font-size: 20px;
    color: #fff
}

.box8:hover .box-content {
    opacity: 1;
    transform: perspective(400px) rotateX(0)
}

.box8 .title {
    padding: 5px 7px;
    border-radius: 5px;
    font-weight: 600;
    bottom: 20px;
    left: 20px;
    transition: all .9s ease 0s
}

.box8 .icon li a, .box9 .box-content, .box9 .icon li, .box9 img {
    transition: all .35s ease 0s
}

.box8:hover .title {
    bottom: -40px
}

.box8 .icon {
    list-style: none;
    padding: 0;
    top: 42%;
    left: 0;
    right: 0
}

.box8 .icon li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 7px
}

.box9 .icon, .box9 .title {
    width: 100%;
    font-size: 22px
}

.box8 .icon li a:hover {
    background: #fff;
    color: #000
}

@media only screen and (max-width:990px) {
    .box8 {
        margin-bottom: 20px
    }
}

.box9 {
    background: #000;
    text-align: center;
    position: relative
}

.box9 img {
    width: 100%;
    height: auto
}

.box9:hover img {
    opacity: .5
}

.box9 .box-content {
    padding: 30px 10px 30px 0;
    background: rgba(0, 0, 0, .65);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0
}

.box9:hover .box-content {
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    opacity: 1
}

.box9 .title {
    font-weight: 700;
    color: #fff;
    line-height: 17px;
    margin: 5px 0;
    position: absolute;
    bottom: 55%
}

.box10 .icon li a, .box9 .icon li a {
    line-height: 35px;
    border-radius: 50%
}

.box9 .icon {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%
}

.box9 .icon li {
    display: inline-block;
    opacity: 0;
    transform: translateY(40px)
}

.box9:hover .icon li {
    opacity: 1;
    transform: translateY(0)
}

.box9:hover .icon li:first-child {
    transition-delay: .1s
}

.box9:hover .icon li:nth-child(2) {
    transition-delay: .2s
}

.box9 .icon li a {
    display: block;
    width: 35px;
    height: 35px;
    background: #f39c12;
    font-size: 20px;
    color: #000;
    margin-right: 5px;
    transition: all .35s ease 0s
}

.box9 .icon a:hover {
    background: #fff
}

@media only screen and (max-width:990px) {
    .box9 {
        margin-bottom: 20px
    }
}

/*********************** Demo - 10 *******************/

.box10 {
    background: #000;
    overflow: hidden;
    position: relative
}

.box10:after, .box10:before {
    border-width: 0 180px 140px;
    border-style: solid;
    border-color: transparent transparent #0d5f45;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    transform: translate(-55%, 100%);
    transition: all .5s 0s cubic-bezier(.6, -.28, .735, .045)
}

.box10:after {
    border-width: 150px 250px;
    border-color: transparent #18ab69 #18ab69 #008148;
    top: 25%;
    transform: translate(-60%, 100%)
}

.box10:hover:before {
    transition: all .4s 0s cubic-bezier(.175, .885, .32, 1.275);
    transform: translate(-55%, 0);
    transition-delay: .2s
}

.box10:hover:after {
    transition: all .4s 0s cubic-bezier(.175, .885, .32, 1.275);
    transform: translate(-60%, 0);
    transition-delay: 0s
}

    .box10 img {
        width: 100%;
        height: 327px;
        opacity: 1;
        transform: scale(1.1) translateY(3%);
        transition: all .5s ease 0s
    }

.box10:hover img {
    transform: scale(1.1) translateY(-3%);
    opacity: .4
}

.box10 .box-content {
    padding: 20px 0 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    transform: translateY(20%);
    transition: all .5s ease 0s
}

.box10:hover .box-content {
    opacity: 1;
    transform: translate(0);
    transition-delay: .1s
}

.box10 .title {
    font-size: 23px;
    font-weight: 800;
    color: #fff
}

.box10 .icon {
    padding: 0;
    margin: 0;
    list-style: none
}

.box10 .icon li {
    display: inline-block
}

.box10 .icon li a {
    display: block;
    width: 35px;
    height: 35px;
    background: #18ab69;
    font-size: 18px;
    color: #fff;
    margin-right: 10px;
    transition: all .3s ease 0s
}

.box11 .icon li, .box11 .icon li a, .box11 .title, .box12 .icon li, .box12 .title {
    display: inline-block
}

.box10 .icon li a:hover {
    transform: rotate(360deg)
}

@media only screen and (max-width:990px) {
    .box10 {
        margin-bottom: 20px
    }
}

@media only screen and (max-width:767px) and (min-width:600px) {
    .box10:before {
        border-width: 0 250px 240px
    }
    .box10:after {
        border-width: 260px 460px
    }
}

@media only screen and (max-width:599px) and (min-width:430px) {
    .box:before {
        border-width: 0 220px 120px
    }
    .box10:after {
        border-width: 260px 460px
    }
}