.owl-buttons {
  display: none;
}

.owl-carousel:hover .owl-buttons {
  display: block;
}

.owl-item {
  text-align: center;
}

.owl-theme .owl-controls .owl-buttons div {
  background: transparent;
  color: #869791;
  font-size: 40px;
  line-height: 550px;
  margin: 0;
  padding: 0 60px;
  position: absolute;
  top: 0;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: 0;
  padding-left: 20px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
  right: 0;
  padding-right: 20px;
}

.slider-txt {
  width: 1400px;
  margin-top: -59px;
  z-index: 1000;
  /* font-size: 13px; */
  color: #ffffff;
  font-size: 37px;
  margin-bottom: 0px;
}

.slider-txt .content {
  padding: 20px;
  width: 710px;
  max-height: 400px;
  position: relative;
  background: rgb(204, 204, 204);
  background: rgba(19, 19, 19, 0.5);
  border-left: solid 5px #05b993;
}

.text-sty-banner {
  color: white !important;
}

.list-group-item {
  border-color: white;
}

/* 
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */

.slider {
  background-image: url("../images/slider/1.jpg");
  z-index: 100000;
}

.centralizeed {
  position: absolute;
  /* background-color: blue; */
  float: left;
  top: 50%;
  margin-top: -100px;
  margin-left: -100px;
}

.video_overlays {
  position: absolute;
  background-color: blue;
  float: left;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}

.video_overlays-top-left {
  position: absolute;
  float: left;
  top: 42%;
  left: 17%;
  margin-top: -100px;
  margin-left: -100px;
}

.image-on-slide {
  width: 6%;
  margin-top: -225px;
  margin-top: -100px;
  left: 64%;
  padding: -11px;
  float: left;
}

.col-4 .fadeIn .animated {
  background-color: white;
}

.margin-bottom {
  margin-bottom: 25px;
}

.centralizeed-on-slider {
  position: absolute;
  padding-left: 20px;
  /* background-color: blue; */
  /* float: left; */
  /* margin-top: -100px; */
  /* margin-left: -100px; */
  /* top: 50%; */
  top: 33%;
}

video {
  object-fit: fill;
}

.fa-inverse {
  color: black;
}

@media (min-width: 320px) and (max-width: 480px) {
  .slider-txt .content {
    width: 350px;
    padding: 0px;
  }
}

.banner-img {
  max-height: 300px;
}