@font-face {
    font-family: "Raleway";
    src: url("./../fonts/Raleway-Regular.ttf");
}

* {
    font-family: "Raleway", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background: #fff;
    overflow-x: hidden;
}

.container-fluid {
    padding: 0px;
    margin: 0px;
}

.cover-section {
    padding: 1em;
    color: white;
}

.cover-section h1 {
    color: white;
}

/* //Reset Code */

/* colors code */

.text-bl {
    color: #343a40;
}

.text-wh {
    color: #fff;
}

.text-li {
    color: #f8f9fa;
}

.text-da {
    color: #000;
}

.bg-li {
    background: #f8f9fa;
}

.bg-wh {
    background: #fff;
}

.let {
    letter-spacing: 1px;
}

/* //colors code */

/* header */

header {
    -webkit-box-shadow: 0.33333rem 0 1.33333rem rgba(87, 87, 87, 0.1);
    -moz-box-shadow: 0.33333rem 0 1.33333rem rgba(87, 87, 87, 0.1);
    box-shadow: 0.33333rem 0 1.33333rem rgba(87, 87, 87, 0.1);
    background: #fff;
}

.main-top {
    position: relative;
    z-index: 1;
}

/* navigation */

/* CSS Document */

.toggle-2, .toggle, [id^="drop"] {
    display: none;
}

#logo a {
    float: left;
    display: initial;
    font-size: 32px;
    color: #705ecf;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
    padding: 0;
    font-weight: 600;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
    content: "";
    display: table;
    clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */

nav ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

/* Positioning the navigation items inline */

.menu li a.active, nav a:hover, nav ul ul li a:hover {
    color: #05b993;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */

nav ul ul {
    display: none;
    position: absolute;
    top: 25px;
    background: #000;
    padding: 10px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 9;
}

.banner_obox {
    padding-top: 15px;
    padding-bottom: 0px;
    z-index: 0;
    background-color: #E1E2E1;
    color: white;
}

.banner_obox-img {
    max-width: 100%;
    height: auto;
}

.obox_banner_txt {
    padding-top: 7vw;
}

p.text-sty-banner {
    font-size: 16px;
    color: #51585f;
    max-width: 800px;
    margin: 20px 0;
}

h3.obox_pvt-title {
    font-size: 4rem;
    font-weight: 600;
    color: white;
}

h3.obox_pvt-title span {
    color: #05b993;
}

.obox_banner_txt h5 {
    font-weight: 400;
    color: #000;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

/* button style */

.button-style {
    padding: 14px 26px;
    border: none;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #05b993;
}

.button-style:hover {
    color: #fff;
}

/* //button style */

/* animation effect */

.shape-wthree {
    -webkit-animation: fa-spin 5s infinite linear;
    -moz-animation: fa-spin 5s infinite linear;
    -ms-animation: fa-spin 5s infinite linear;
    -o-animation: fa-spin 5s infinite linear;
    animation: fa-spin 5s infinite linear;
}

img.shape-w3-one {
    top: 37%;
    position: absolute;
    right: 2%;
    z-index: -1;
}

img.shape-w3-two {
    top: 12%;
    position: absolute;
    right: 50%;
    z-index: -1;
}

img.shape-w3-three {
    top: 10%;
    position: absolute;
    right: 15%;
    z-index: -1;
}

img.shape-w3-four {
    position: absolute;
    top: 30%;
    left: 4%;
    z-index: -1;
}

img.shape-w3-five {
    position: absolute;
    bottom: 14%;
    right: 7%;
    z-index: -1;
}

img.shape-w3-six {
    position: absolute;
    bottom: 18%;
    left: 23%;
    z-index: -1;
}

/* //animation effect */

/* //banner */

.services-grid-main img {
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.services-section {
    margin-left: 0px;
    margin-right: 0px;
}

h3.title, h2.title {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 1px;
}

.services-grid-main {
    height: 700px;
    background: #fff;
    padding: 30px;
    -webkit-box-shadow: 5px 7px 23px 0px rgba(58, 52, 82, 0.16);
    -moz-box-shadow: 5px 7px 23px 0px rgba(58, 52, 82, 0.16);
    box-shadow: 5px 7px 23px 0px rgba(58, 52, 82, 0.16);
}

.services-grid-main p {
    text-align: left;
}

.services-grid-main h4, .about-in h5.card-title {
    font-size: 22px;
    color: #000;
}

a.button-obox {
    color: #705ecf;
    font-weight: 600;
    font-size: 15px;
    display: inline-block;
    letter-spacing: 1px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

/* //what we do */

/* middle section */

.about-right-faq {
    padding-right: 7vw;
}

.about-right-faq h6 {
    color: rgb(5, 185, 147);
    letter-spacing: 2px;
    margin-bottom: 8px;
    font-size: 15px;
}

.about-right-faq h3 {
    font-size: 34px;
    line-height: 1.4;
    font-weight: 600;
}

ul.w3l-right-book li {
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 16px;
    list-style: inside;
}

/* //middle section */

/* services */

.about-in .card {
    padding: 2.5em 2em;
    border: none;
    background: #fff;
    -webkit-box-shadow: 0px 11px 42px 1px rgba(58, 52, 82, 0.1);
    -moz-box-shadow: 0px 11px 42px 1px rgba(58, 52, 82, 0.1);
    box-shadow: 0px 11px 42px 1px rgba(58, 52, 82, 0.1);
}

.about-in .bg-obox {
    width: 75px;
    height: 75px;
    background: #ff3a46;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto;
}

.about-in .bg-obox span {
    font-size: 34px;
    color: #fff;
    line-height: 75px;
}

.about-in:nth-child(2) .bg-obox {
    background: #00ebac;
}

.about-in:nth-child(3) .bg-obox {
    background: #9657f6;
}

h3.tittle, h2.tittle {
    color: #111;
    font-size: 40px;
}

p.sub-tittle {
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
}

/* //services */

/* footer */

/* email icon style */

.icon-effect-w3 {
    background: #05b993;
    width: 70px;
    height: 70px;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto 1em;
}

.icon-effect-w3 span {
    line-height: 70px;
    font-size: 24px;
    color: #fff;
}

/* //email icon style */

/* subscribe */

.subscribe {
    max-width: 800px;
}

form.subscribe-wthree input[type="email"] {
    font-size: 16px;
    background: #fff;
    border: none;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    letter-spacing: 1px;
    color: #000;
    -webkit-box-shadow: 0px 11px 42px 1px rgba(58, 52, 82, 0.1);
    -moz-box-shadow: 0px 11px 42px 1px rgba(58, 52, 82, 0.1);
    box-shadow: 0px 11px 42px 1px rgba(58, 52, 82, 0.1);
    font-size: 15px;
    padding: 14px 20px;
}

form.subscribe-wthree button {
    background: #705ecf;
    letter-spacing: 1px;
    color: #fff;
    padding: 14px 20px;
    font-size: 16px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    border: none;
    -webkit-box-shadow: 0px 11px 42px 1px rgba(58, 52, 82, 0.1);
    -moz-box-shadow: 0px 11px 42px 1px rgba(58, 52, 82, 0.1);
    box-shadow: 0px 11px 42px 1px rgba(58, 52, 82, 0.1);
}

/* //subscribe */

/* //footer */

/* copyright bottom */

/* copyright */

.copy_right p a {
    color: #000;
    font-weight: 600;
    letter-spacing: 2px;
}

/* //copyright */

/* social icons */

.social-icons-footer ul li {
    display: inline-block;
}

.social-icons-footer ul li a span {
    color: #705ecf;
    margin: 0 8px;
    font-size: 16px;
}

/* //social icons */

/* bottom-to-top */

a.move-top span {
    color: #05b993;
    font-size: 30px;
}

.parts-obox span {
    font-size: 3em;
    color: #333;
}

.parts-obox h4 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 1.5em;
}

/* stats */

p.title-sub-2 {
    font-size: 19px;
    color: #333;
}

h3.title-w3 {
    color: #111;
    font-size: 32px;
}

.count-obox h4 {
    font-size: 30px;
    font-weight: 600;
}

.count-obox p {
    margin-top: 10px;
}

/* //stats */

/* inner page banner */

.banner_oboxpvt-2 {
    background: url(../images/inner.png) no-repeat top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

/* breadcrumb */

.breadcrumb {
    background-color: transparent;
    padding: 5vw 0;
    justify-content: center;
    margin-bottom: 0;
}

li.breadcrumb-item a, li.breadcrumb-item {
    color: #000;
    letter-spacing: 1px;
    font-size: 14px;
}

/* //breadcrumb */

/* //inner page banner */

/* about page */

/* why choose */

.services-grid h4 {
    font-size: 22px;
    color: #000;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 12px;
}

.services-icon span {
    font-size: 38px;
    margin-top: 1em;
}

.icon-clr1 {
    color: #0170ad !important;
}

.icon-clr2 {
    color: #b764d8;
}

.icon-clr3 {
    color: #e53b2c;
}

.icon-clr4 {
    color: #0ca799;
}

.icon-clr5 {
    color: #39dcb1;
}

.icon-clr6 {
    color: #feb155;
}

/* //why choose */

/* team */

h4.text-team-w3 {
    font-size: 20px;
    font-weight: 700;
    color: #3a3939;
    margin: 1em 0;
}

ul.team-socil-w3pvts li span {
    color: #333;
    font-size: 15px;
    margin: 0 6px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

ul.team-socil-w3pvts li span:hover {
    opacity: 0.8;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.ab-content img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}

.ab-content-inner {
    padding: 3em;
    background: #fff;
    -webkit-box-shadow: 5px 7px 23px 0px rgba(58, 52, 82, 0.16);
    -moz-box-shadow: 5px 7px 23px 0px rgba(58, 52, 82, 0.16);
    box-shadow: 5px 7px 23px 0px rgba(58, 52, 82, 0.16);
}

/* //team */

/* //about page */

/* faq page */

/* accordions */

.accordion {
    border: 1px solid white;
    padding: 0 10px;
    margin: 0 auto;
    list-style: none outside;
}

.accordion>*+* {
    border-top: 1px solid white;
}

.accordion-item-hd {
    display: block;
    cursor: pointer;
    background-color: #f3f3f3;
    color: #000;
    padding: 20px;
    letter-spacing: 1px;
    margin-bottom: 0;
    position: relative;
}

li.accordion-item {
    margin-bottom: 1.5em;
}

.accordion-item-input:checked~.accordion-item-bd {
    max-height: 1000px;
    -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
    padding: 2em;
}

.accordion-item-input:checked~.accordion-item-hd>.accordion-item-hd-cta {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.accordion-item-hd-cta {
    display: block;
    width: 30px;
    position: absolute;
    top: calc(50% - 6px);
    /*minus half font-size*/
    right: 0;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    text-align: center;
    font-size: 12px;
    line-height: 1;
}

.accordion-item-bd {
    max-height: 0;
    margin-bottom: 0;
    overflow: hidden;
}

.accordion-item-input {
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    left: -9999px;
}

h6.accordion-textm {
    color: #705ecf;
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

/* //accordions */

/* //faq page */

/* pricing page */

h3.sec-hedadc {
    color: #1dd1a1;
}

.prices {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    position: relative;
    border: 1px solid #ddd;
}

.price-info:hover .prices, .prices.active {
    -webkit-box-shadow: 1px 2px 16px 2px #d8d8d8;
    -moz-box-shadow: 1px 2px 16px 2px #d8d8d8;
    box-shadow: 1px 2px 16px 2px #d8d8d8;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.prices-top {
    position: absolute;
    top: -18%;
    left: 34%;
}

.prices-top h3 {
    font-size: 30px;
    text-shadow: 0 2px 12px rgba(12, 12, 12, 0.28);
    background: #705ecf;
    width: 90px;
    height: 90px;
    line-height: 2.9;
    -webkit-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.23);
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.23);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.price-info:hover .prices-top h3 {
    box-shadow: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.prices-bottom ul li {
    font-size: 16px;
    color: #656161;
    list-style: none;
    margin: 12px 0;
}

.prices-bottom h4 {
    font-size: 26px;
    color: #000;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.29);
    letter-spacing: 1px;
    font-weight: 700;
}

/* //pricing page */

/* contact page */

form.contact-wthree-do label {
    letter-spacing: 0.5px;
    font-size: 15px;
}

.contact-wthree-do textarea {
    height: 180px;
    resize: none;
}

.contact-wthree-do .form-control {
    background: #f8f9fa;
    padding: 12px 10px;
    border: 1px solid #dedede;
    border-left: 3px solid #705ecf;
    letter-spacing: 1px;
    font-size: 15px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    color: #000;
}

button.btn-cont-w3 {
    background: #705ecf;
    color: #ffffff;
    padding: 11px 25px;
    letter-spacing: 1px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    font-size: 16px;
    max-width: 140px;
}

.w3l-map iframe {
    width: 100%;
    min-height: 400px;
    border: none;
    display: block;
}

/* //contact page */

/* responsive */

@media (max-width: 1366px) {
    h3.obox_pvt-title {
        font-size: 3.5rem;
    }
}

@media (max-width: 1280px) {
    h3.tittle, h2.tittle {
        font-size: 38px;
    }
}

@media (max-width: 1080px) {
    .about-in .card {
        padding: 2.5em 1em;
    }
    .services-grid-main h4, .about-in h5.card-title {
        font-size: 21px;
    }
    .services-grid-main {
        padding: 3em 2em;
    }
    h3.obox_pvt-title {
        font-size: 3rem;
    }
    p.text-sty-banner {
        font-size: 15px;
    }
    #logo a {
        font-size: 30px;
    }
    nav a {
        font-size: 14px;
        margin: 0 8px;
    }
    .price-info {
        padding: 0 0.5em;
    }
    .prices-top {
        left: 32%;
    }
}

@media (max-width: 1024px) {
    .parts-obox span {
        font-size: 2.5em;
    }
    .parts-obox h4 {
        font-size: 14px;
    }
    .accordion-item-hd {
        font-size: 14px;
    }
    .contact-wthree-do .form-control {
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    h3.tittle, h2.tittle {
        font-size: 36px;
    }
    p.sub-tittle {
        font-size: 15px;
    }
    .about-in .card, .services-grid-main {
        max-width: 500px;
        margin: 0 auto;
    }
    .services-grid-main {
        padding: 3em;
    }
    h3.obox_pvt-title {
        font-size: 2.5rem;
    }
    p.text-sty-banner {
        font-size: 14px;
    }
    .obox_banner_txt {
        padding-top: 3vw;
    }
    #logo a {
        font-size: 26px;
    }
    .services-icon {
        padding: 0 0.5em;
    }
    .services-grid {
        padding: 0;
    }
    .services-icon span {
        font-size: 30px;
        margin-top: 1.5em;
    }
    .price-info {
        padding: 0 1em;
    }
    .prices-top {
        left: 38%;
    }
    .price-info.price-mkres {
        margin-top: 6em;
    }
}

@media (max-width: 768px) {
    h3.tittle, h2.tittle {
        font-size: 34px;
    }
}

@media (max-width: 736px) {
    h3.title-w3 {
        font-size: 30px;
    }
    p.title-sub-2 {
        font-size: 17px;
    }
    .about-right-faq h6 {
        font-size: 14px;
    }
    .about-right-faq h3 {
        font-size: 32px;
    }
    ul.w3l-right-book li {
        font-size: 15px;
    }
    .button-style {
        padding: 13px 24px;
        font-size: 13px;
    }
    .services-icon, .services-grid {
        padding: 0 1em;
    }
    .services-icon span {
        font-size: 34px;
        margin-top: 0.8em;
    }
    h4.text-team-w3 {
        font-size: 18px;
    }
    .prices-top {
        left: 32%;
    }
    .prices-bottom h4 {
        font-size: 24px;
    }
    .prices-bottom ul li {
        font-size: 15px;
    }
}

@media (max-width: 640px) {
    h3.tittle, h2.tittle {
        font-size: 30px;
    }
    p.sub-tittle {
        font-size: 14px;
    }
    form.subscribe-wthree input[type="email"] {
        font-size: 14px;
    }
    form.subscribe-wthree button {
        font-size: 15px;
    }
}

@media (max-width: 568px) {
    .ab-content-inner, .price-info {
        max-width: 400px;
        margin: 0 auto;
    }
    .price-info:nth-child(2) {
        margin-top: 6em;
    }
    .prices-top {
        left: 39%;
    }
    .w3l-map iframe {
        min-height: 300px;
    }
}

@media (max-width: 480px) {
    h3.title-w3 {
        font-size: 26px;
    }
    p.title-sub-2 {
        font-size: 16px;
    }
    .services-grid-main {
        padding: 3em 2em;
    }
    h3.obox_pvt-title {
        font-size: 2.3rem;
    }
    img.shape-w3-one {
        right: 6%;
    }
    .accordion-item-hd {
        font-size: 13px;
    }
}

@media (max-width: 440px) {
    p.sub-tittle {
        font-size: 18px;
    }
    h3.tittle, h2.tittle {
        font-size: 28px;
    }
    p {
        font-size: 18px;
    }
    nav a {
        font-size: 13px;
    }
    .search-w3layouts input[type="search"] {
        font-size: 12px;
    }
    .search-w3layouts button {
        font-size: 13px;
    }
}

@media (max-width: 414px) {
    .parts-obox span {
        font-size: 2em;
    }
    .parts-obox h4 {
        font-size: 12px;
        letter-spacing: 1px;
    }
    .about-right-faq h3 {
        font-size: 30px;
    }
    .services-grid-main {
        padding: 2em 1.5em;
    }
}

@media (max-width: 384px) {
    .prices-top {
        left: 37%;
    }
    .w3l-map iframe {
        min-height: 280px;
    }
}

@media (max-width: 375px) {
    form.subscribe-wthree button {
        font-size: 18px;
        padding: 13px 15px;
    }
    form.subscribe-wthree input[type="email"] {
        font-size: 13px;
        padding: 13px 11px;
    }
    .about-right-faq h3 {
        font-size: 28px;
    }
    .about-right-faq h6 {
        font-size: 13px;
    }
    h3.obox_pvt-title {
        font-size: 2.1rem;
    }
    p.text-sty-banner {
        font-size: 13px;
    }
    .search-w3layouts input[type="search"] {
        padding: 10px 15px;
    }
    .dwn-obox {
        width: 40px;
        height: 40px;
    }
    .dwn-obox span {
        font-size: 15px;
        line-height: 26px;
    }
    h6.accordion-textm {
        font-size: 16px;
    }
    .contact-wthree-do .form-control {
        font-size: 13px;
    }
    button.btn-cont-w3 {
        font-size: 15px;
    }
}

@media (max-width: 320px) {
    h3.title-w3 {
        font-size: 24px;
    }
    p.title-sub-2 {
        font-size: 14px;
    }
    .count-obox h4 {
        font-size: 28px;
    }
    .about-right-faq h3 {
        font-size: 26px;
    }
    ul.w3l-right-book li {
        font-size: 14px;
    }
    .button-style {
        padding: 13px 20px;
        font-size: 12px;
    }
    .prices-top {
        left: 35%;
    }
}

/* partners */

.partners {
    padding: 50px;
    padding-top: 0px;
    margin: 0px;
}

.partner {
    padding: 15px;
    text-align: center;
}

.partner img {
    width: 100%;
}

.obox-nav {
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    margin: 0 auto;
    /*background-color: white;*/
    background-color: #ffffffcf;
    height: 70px;
}

.obox-nav ul li a:hover {
    color: gray !important;
}

.obox-nav-vs {
    background-color: rgb(11, 105, 192);
}

.obox-nav-vs #obox-logo img {
    background-color: white
}

.obox-nav-vs ul li a {
    color: white;
}

.obox-nav-hc {
    background-color: rgb(192, 11, 95);
}

.obox-nav-hc ul li a {
    color: white;
}

.obox-nav-ml {
    background-color: rgb(150, 134, 84);
}

.obox-nav-ml ul li a {
    color: white;
}

.obox-nav-rs {
    background-color: rgb(9, 158, 42);
}

.obox-nav-rs ul li a {
    color: white;
}

.obox-nav-ts {
    background-color: #19BC9C;
}

.obox-nav-ts ul li a {
    color: white;
}

.obox-nav-ds {
    background-color: rgb(161, 197, 3);
}

.obox-nav-ds ul li a {
    color: white;
}

.obox-product-parent-nav {
    position: relative;
}

@media screen and (max-width: 768px) {
    .obox-nav {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .obox-nav .top-menu {
        padding: 28px 1em;
    }
}

.obox-nav #obox-logo {
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
}

.obox-nav #obox-logo a {
    color: #0170ad !important;
    position: relative;
    font-weight: bolder;
    font-size: 32px;
    top: 10px;
}

.obox-nav #obox-logo img {
    height: 60px;
    margin-top: -4px
}

.obox-nav #obox-logo a:hover {
    text-decoration: none;
}

.obox-nav #obox-logo a i {
    display: block;
    font-size: 60px;
    font-weight: normal;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .obox-nav {
        display: none;
    }
}

.obox-nav ul {
    padding: 0;
    margin: 0;
}

.obox-nav ul li {
    padding: 25px 0;
    margin: 0;
    list-style: none;
    display: inline;
    font-weight: 300;
    font-size: 18px;
    /* letter-spacing: 2px; */
    color: #505050;
}

.obox-nav ul li a {
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    top: 5px;
    font-weight: 700;
    color: #495057;
    font-size: 14px;
}

.obox-nav ul li a:hover {
    color: #333333 !important;
}

.obox-nav ul li.has-dropdown {
    position: relative;
}

.obox-nav ul li.has-dropdown .dropdown {
    width: 140px;
    -webkit-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    z-index: 1002;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 40px;
    left: 0;
    text-align: left;
    background: #000;
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}

.obox-nav ul li.has-dropdown .dropdown:before {
    bottom: 100%;
    left: 40px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #000;
    border-width: 8px;
    margin-left: -8px;
}

.obox-nav ul li.has-dropdown .dropdown li {
    display: block;
    margin-bottom: 0px;
}

.obox-nav ul li.has-dropdown .dropdown li:last-child {
    margin-bottom: 0;
}

.obox-nav ul li.has-dropdown .dropdown li a {
    padding: 2px 0;
    display: block;
    color: #999999;
    line-height: 1.2;
    text-transform: none;
    font-size: 13px;
    letter-spacing: 0;
}

.obox-nav ul li.has-dropdown .dropdown li a:hover {
    color: #fff;
}

.obox-nav ul li.btn-cta a {
    color: #fff;
    background: #4aca85;
    padding: 10px 15px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.obox-nav ul li.btn-cta a:hover {
    -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
    -o-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
}

.obox-nav ul li.active>a {
    color: rgba(255, 255, 255, 0.5);
    position: relative;
}

.obox-nav ul li.active>a:after {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#get-in-touch {
    top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: capitalize;
    background-color: #006fad;
    border: 1px solid #006fad !important;
    color: white !important;
}

#get-in-touch:hover {
    color: #00447d !important;
    background-color: white;
}

/* header */

.obox-header-dropdown {
    min-width: 600px;
    border-radius: 0px;
    padding: 13px;
    padding-right: 30px;
    padding-bottom: 0px;
    margin-top: 8px;
}

.obox-header-dropdown-product {
    min-width: 30rem;
    top: 80px;
}

.obox-product img {
    width: 18px;
    height: 18px;
    margin-bottom: 5px;
}

.obox-header-dropdown .obox-product {
    cursor: pointer;
}

.real-estate-system-card {
    top: 5px;
    background-color: rgb(226, 253, 226);
    width: 100%;
}

.vehicle-system-card {
    top: 5px;
    background-color: rgb(240, 248, 249);
    width: 100%;
}

.maintenance-system-card {
    top: 5px;
    background-color: rgb(239, 239, 239);
    width: 100%;
}

.tracking-system-card {
    top: 5px;
    background-color: rgb(255, 233, 219);
    width: 100%;
}

.video, .image-slide {
    height: 650px;
    width: 100%
}

.obox-header-dropdown .obox-product .obox-product-content {
    padding: 15px;
    cursor: pointer;
}

.obox-product-content:after {
    content: "";
    width: 0px;
    height: 1px;
    display: block;
    background: #0170ad;
    transition: 300ms;
}

.obox-product-content:hover:after {
    width: 100%;
}

.obox-product {
    padding-bottom: 15px;
}

.link {
    text-decoration: none !important;
    color: #007bff;
    display: inline-block;
}

.link:after {
    display: block;
    content: "";
    width: 0;
    height: 2px;
    background-color: #007bff;
}

.link:hover:after {
    width: 100%;
    transition: width 300ms ease-in;
}

.custom-headers {
    padding-left: 5em;
    padding-right: 5em;
}

/* home products */

.custom-headers h3 {
    color: #a8a8a8;
}

.card-content {
    padding: 1em;
    border: none;
    border-radius: 10px;
}

.card-content-color-blue {
    background-color: #f0f8fe;
}

.card-content-color-gray {
    background-color: #f3f0fe;
}

.card-content-color-red {
    background-color: #f7bd7736;
}

.card-footer-content, .card-header-content {
    padding: 0.5em;
}

.card-img {
    height: 100px;
    width: 200px;
}

/* .list-group-item {
    border: none;
} */

.slogan {
    font-style: normal;
    color: #a8a8a8;
    font-size: 14px;
}

.get-in-touch {
    background: none !important;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    color: #00325a;
}

.get-in-touch:hover {
    background-color: #0170ad !important;
    color: white !important;
    border-color: #0170ad;
}

.learn-more {
    padding-top: 10px;
    font-size: 18px;
    color: #0170ad !important;
    border-bottom: 1px solid #0170ad;
    cursor: pointer;
    text-decoration: none;
}

a {
    text-decoration: none !important;
}

.card-desc {
    padding: 10px;
}

.un-text {
    display: inline-block;
}

.learn-more:after {
    content: "";
    width: 0px;
    height: 1px;
    display: block;
    background: #0170ad;
    transition: 300ms;
}

.learn-more:hover:after {
    width: 100%;
}

.img-next-text {
    color: #0170ad;
    font-weight: bold;
    font-size: 24px;
    display: block;
}

/*footer*/

.col_white_obox {
    color: rgb(134, 134, 134);
}

footer {
    color: #00447d;
    width: 100%;
    background-color: #343a40;
    min-height: 250px;
    padding: 10px 0px 25px 0px;
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

footer p {
    font-size: 13px;
    color: #ccc;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_obox {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footer_ul_obox li {
    padding: 0px 0px 5px 0px;
}

.footer_ul_obox li a {
    color: #549ddf
}

.footer_ul_obox li a:hover {
    color: #549ddf;
    text-decoration: none;
}

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_obox {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_ul2_obox li p {
    display: table;
}

.footer_ul2_obox li a:hover {
    text-decoration: none;
}

.footer_ul2_obox li i {
    margin-top: 5px;
}

.bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;
}

.foote_bottom_ul_obox {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.foote_bottom_ul_obox li {
    display: inline;
}

.foote_bottom_ul_obox li a {
    color: #999;
    margin: 0 12px;
}

.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: #ccc;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}

.faq-section {
    padding-top: 50px;
}

.btn-primary {
    background-color: #0572af;
}

.custom-navbar {
    box-shadow: 10px 10px 10px #eee;
    background-color: #fff;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(247, 32, 78);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247,32,78, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler-icon {
    width: 18px !important;
}

.custom-toggler:hover {
    border-color: rgb(255, 255, 255);
    background-color: #f76a88;
}

.navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#logo_custom {
    margin-top: -6px;
}

@media only screen and (max-width: 760px) {
    #logo_custom {
        width: 40%;
    }
}

/* product page */

.header-menu {
    padding-left: 7.5em;
    /* padding-right: 7.5em; */
    background-color: white;
}

.product-menu {
    background-color: #b1f7e4;
}

#product-nav-menu ul li .nav-link {
    color: white !important;
}

.font-weight-bold.menue-item-text {
    font-size: 14px;
    margin-bottom: 0px;
}

.div-item {
    padding-right: 0px;
    padding-top: 0px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.details {
    color: white;
}

.list-group-products {
    flex-direction: row;
}

.owl-theme .owl-nav {
    display: none;
}

.carousel-indicators {
    left: 0;
    top: auto;
    bottom: -60px !important;
}

.carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-bottom: 10px;
}

.carousel-indicators .active {
    background: #707070;
    margin-bottom: 10px;
}

.our-team-section {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}

.our-team-section:before {
    position: absolute;
    top: -0;
    left: 0;
    content: " ";
    background: url(img/service-section-bottom.png);
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
}

.our-team {
    padding: 0 0 40px;
    background: #f9f9f9;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-bottom: 5px solid #00325a;
    height: 300px;
}

.our-team:hover {
    border-bottom: 5px solid #2f2f2f;
}

.our-team .pic {
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}

.our-team .pic:before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #00325a;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 1;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.our-team:hover .pic:before {
    height: 100%;
    background: #2f2f2f;
}

.our-team .pic:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffffff00;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s linear 0s;
}

.our-team:hover .pic:after {
    background: #7ab92d;
}

.our-team .pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
    position: relative;
    z-index: 2;
}

.our-team:hover .pic img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}

.our-team .team-content {
    margin-bottom: 30px;
}

.our-team .title {
    font-size: 22px;
    font-weight: 700;
    color: #4e5052;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.our-team .post {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
}

.our-team .social {
    width: 100%;
    padding-top: 10px;
    margin: 0;
    background: #2f2f2f;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.our-team:hover .social {
    bottom: 0;
}

.our-team .social li {
    display: inline-block;
}

.our-team .social li a {
    display: block;
    padding-top: 6px;
    font-size: 15px;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.our-team .social li a:hover {
    color: #2f2f2f;
    background: #f7f5ec;
}

@media only screen and (max-width: 990px) {
    .our-team {
        margin-bottom: 10px;
    }
}

.carousel-indicators li {
    cursor: pointer;
}

.our-team-section {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.obox-nav.scrollbox {
    background-color: #006fad;
}

.opacity-obox {
    background-color: #f7f7f7bd;
}

.no-opacity-obox {
    background-color: white;
    box-shadow: 0 4px 2px -2px gray;
}

/* map */

.map {
    width: 100%;
    height: 400px;
}

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

/* about */

.about-inner {
    padding-top: 5em;
}

/* mobile */

#nav #full {
    display: none
}

#mobile {
    display: block;
    background-color: #e5e5e5;
}

#toggle-bar {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
}

#toggle-bar a img {
    height: 36px;
    width: 48px;
}

#mmenu {
    padding: 1em;
}

#mmenu li a {
    cursor: pointer !important;
    color: #007bff;
}

.mtoggle {
    font-size: 24px;
    padding-top: 10px;
    cursor: pointer;
}

/*
	Top black bar that holds the toggle button
	*/

nav #mobile #toggle-bar {
    line-height: 70px;
    height: 70px;
}

/*
	Toggle button #1 ("Menu")
	*/

nav #mobile strong a {
    margin-left: 30px;
    border: 1px solid #444;
    padding: 10px;
}

/*
	Toggle button #2 ("Navicon")
	*/

nav #mobile .navicon {
    float: right;
    height: 6px;
    width: 34px;
    margin: 20px;
    border-top: 18px double #FFF;
    border-bottom: 6px solid #FFF;
    font-size: 0;
}

/*
	The dropdown menu
	*/

nav #mobile ul li {
    clear: both;
    list-style: none;
}

nav #mobile ul li a {
    display: block;
    background-color: #300;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin: 2px 0;
    padding: 6px 0 6px 8px;
}

nav #mobile ul ul {
    font-size: small;
}

nav #mobile ul ul li {
    margin-left: 30px;
}

nav #mobile ul ul a {
    background-color: #333;
    padding-left: 8px;
}

nav #mobile ul ul a:before {
    content: "2192";
    padding-right: 8px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .slider-txt .content {
        width: 350px;
        padding: 0px;
        height: 250px;
    }
    .obox-header-dropdown {
        min-width: 13rem;
        top: 50px !important;
    }
    .about-inner {
        padding-top: 0px;
    }
    .navicon .fa-bars {
        color: #007bff;
    }
    nav a {
        font-size: 25px;
        cursor: pointer;
    }
    .video, .image-slide {
        height: 300px;
        width: 100%
    }
}

.caret {
    color: #007bff;
}

.product-slogan {
    font-size: 12px;
    color: #495057;
}

.menu-items {
    padding-top: 10px;
}

.border-left {
    border-left: 1px solid #bbbbbb !important;
}

.obox-nav-child {
    background-color: #58bfef;
}

.obox-nav-child ul li a {
    color: white;
    font-size: 14px;
}

.obox-nav-child ul li a:hover {
    color: white !important;
    font-size: 14px;
}

.card {
    border-radius: 0px;
}

.card-body {
    border-color: #dadada;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    -webkit-box-shadow: 0px 4px 4px #dadada;
    -moz-box-shadow: 0px 4px 4px #dadada;
    box-shadow: 0px 4px 4px #dadada;
    background-color: rgba(255, 255, 255, 0.9) !important;
    color: #343a40;
}

.service-card {
    padding: 5px;
    padding-bottom: 10px;
}

.btn.obox-start {
    padding: 0.9em 2em;
    font-size: 1rem;
    line-height: 1.1;
    border-radius: 0.125rem;
    width: 250px;
    max-width: 100%;
    font-weight: 800;
    white-space: normal;
    color: white;
}

.product-banner {
    position: relative;
    background-size: cover;
    padding: 90px 0 60px 0;
    z-index: 1;
    /*background-image: url('./../images/banner.png');*/
    background-size: cover;
}

.feature:hover {
    background-color: #e0e0e0 !important;
    cursor: pointer;
}

#main-nav {
    z-index: 1;
}

.team-Member-Item {
    padding-bottom: 20px
}

.fa-caret-down {
    padding-left: 10px;
}