﻿@model AspNetCoreMvcTemplate.Data.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AboutUs</h4>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PageIcon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PageIcon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Icon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Icon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CssClass)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CssClass)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="link pl-2 pr-2"><i class="fa fa-edit"></i></a> |
    <a asp-action="Index">Back to List</a>
</div>
