﻿@model AspNetCoreMvcTemplate.Data.Models.AboutUs

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>
<h4>AboutUs</h4>

<hr />




<div class="row">
    <label asp-for="PageGreatingHTML" class="row control-label"></label>
    <span name="span" class="jqte-test">
        @Model.PageGreatingHTML
    </span>
</div>


<div class="row">
    <label asp-for="PageLastSectionHTML" class="row control-label"></label>
    <span name="span2" class="jqte-test3">
        @Model.PageLastSectionHTML
    </span>
</div>


<div class="row">
    <div class="col-md-4">
        <form id="myForm" asp-action="Edit">


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" id="PageGreatingHTMLid" asp-for="PageGreatingHTML" />
            <input type="hidden" id="PageLastSectionHTMLid" asp-for="PageLastSectionHTML" />


            <div class="form-group">
                <label asp-for="PageGreatingImg" class="control-label"></label>
                <input type="hidden" required id="PageGreatingImginputId" asp-for="PageGreatingImg" class="form-control" />
                <img id="PageGreatingImgimageId" src="@Model.PageGreatingImg" width="60px" />
                <span asp-validation-for="PageGreatingImg" class="text-danger"></span>
                <input name="PageGreatingImg" type="file">
            </div>


            <div class="form-group">
                <label asp-for="PageLastSectionImage" class="control-label"></label>
                <input type="hidden" required id="PageLastSectionImageinputId" asp-for="PageLastSectionImage" class="form-control" />
                <img id="PageLastSectionImageimageId" src="@Model.PageLastSectionImage" width="60px" />
                <span asp-validation-for="PageLastSectionImage" class="text-danger"></span>
                <input name="PageLastSectionImage" type="file">
            </div>



            <div class="form-group">
                <input id="btnSave" type="button" value="Save" class="btn btn-primary" />
            </div>



        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*<script src="~/css/jQuery-TE_v.1.4.0/jquery-te-1.4.0.min.js"></script>*@
    <script src="~/css/jQuery-TE_v.1.4.0/jquery-te-1.4.0.js"></script>
    <script>
        $('.jqte-test').jqte();
        $('.jqte-test2').jqte();
        $('.jqte-test3').jqte();

        // settings of status
        var jqteStatus = true;
        $(".status").click(function () {
            jqteStatus = !jqteStatus;

            $('.jqte-test').jqte({ "status": jqteStatus })
            $('.jqte-test2').jqte({ "status": jqteStatus })
            $('.jqte-test3').jqte({ "status": jqteStatus })
        });



        $("#btnSave").click(() => {
            var htmlString = $('.jqte-test').val();
            var htmlString2 = $('.jqte-test2').val();
            var htmlString3 = $('.jqte-test3').val();

            console.log(htmlString);
            console.log("btnSave clicked");

            $("#PageGreatingHTMLid").val(htmlString)
            $("#PageFocusHeaderHTMLid").val(htmlString2)
            $("#PageLastSectionHTMLid").val(htmlString3)
            debugger;
            $("#myForm").submit();

        });

    </script>

    <script>
        $('input[name="PageGreatingImg"]').change(function (e) {
            parseFileOfInputId("PageGreatingImg", e);
        });


        $('input[name="PageLastSectionImage"]').change(function (e) {
            parseFileOfInputId("PageLastSectionImage", e);
        });

    </script>



}
@section Css {
    @*<link href="~/css/jQuery-TE_v.1.4.0/demo.css" rel="stylesheet" />*@
    <link href="~/css/jQuery-TE_v.1.4.0/jquery-te-1.4.0.css" rel="stylesheet" />
}