﻿@model IEnumerable<AspNetCoreMvcTemplate.Data.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Products</h1>
<p>this list is viewed in Website Nav bar and Products Pages </p>

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="fa fa-file"></i> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageIcon)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Icon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CssClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                    @if (!item.IsViewInWebSite)
                    {
                        <span>(Not Viewed In Website)</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src="@item.PageIcon" width="50px" alt="@item.Name">
                </td>

                <td>
                    <img src="@item.Icon" width="50px" alt="@item.Name">
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CssClass)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Order)
                </td>
                <td>
                    <a href="/home/product/@(item.Id)" class="link pl-2 pr-2"><i class="fa fa-location-arrow"></i></a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="link pl-2 pr-2"><i class="fa fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="link pl-2 pr-2"><i class="fas fa-eye"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="link pl-2 pr-2"><i class="fa fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
