﻿@model AspNetCoreMvcTemplate.Data.Models.ProductHint

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ProductHint</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Html)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Html)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsViewInWebSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsViewInWebSite)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="link pl-2 pr-2"><i class="fa fa-edit"></i></a> |
    <a asp-action="Index">Back to List</a>
</div>
