﻿@model IEnumerable<AspNetCoreMvcTemplate.Data.Models.ProductHint>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Product Hints</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Html)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsViewInWebSite)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Html)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsViewInWebSite)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="link pl-2 pr-2"><i class="fa fa-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="link pl-2 pr-2"><i class="fas fa-eye"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="link pl-2 pr-2"><i class="fa fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
