﻿@using AspNetCoreMvcTemplate.Data.Models
@model IEnumerable<AspNetCoreMvcTemplate.Data.Models.AboutUsCollapsible>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

@section Styles{
    <style>
        .panel-title > a:before {
            content: "\f068";
            float: right !important;
            position: relative;
            top: 10px;
            display: inline-block;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
        }

        .panel-title > a.collapsed:before {
            content: "\f067";
        }

        .panel-title > a {
            font-size: 16px;
        }

        .panel {
            border-radius: 0px;
            padding: 5px 0px;
            margin-bottom: 15px;
        }

        hr {
            border: 1px solid rgb(214, 214, 214);
        }
    </style>
}


@section Scripts{

}



@section contact{
    @Html.Partial("_WebsiteContactPartial", new AspNetCoreMvcTemplate.Data.Models.ContactModel())
}





@section footer{
    @*Hi from index view this should view before layput footer*@
}
<div class="main-top" id="home">
    <!-- header -->
    <header>
        <div class="container-fluid" id="main-nav">
            <nav class="obox-nav opacity-obox" role="navigation">
                <!--start header partial-->
                <partial name="_WebsiteHeaderPartial" />
                <!--end header partial-->
            </nav>
        </div>
    </header>
    <!-- //header -->
</div>







<div class="container" style="margin-top: 36px;">

    <div class="row">
        <div class="col-md-12">
            <h2>
                ABOUT OBOX
            </h2>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                @foreach (AboutUsCollapsible item in Model)
                {
                    <div class="panel @(item.Id==Model.First().Id?"panel-primary":"panel-warning")">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse@(item.Id)" aria-expanded="true" aria-controls="collapse@(item.Id)">
                                    @item.Title;
                                </a>
                            </h4>
                        </div>
                        <div id="collapse@(item.Id)" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                @item.Description
                            </div>
                        </div>
                    </div>
                    if (item.Id != Model.Last().Id)
                    {
                        <hr>
                    }

                }



                @*<div class="panel panel-warning">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        VISION AND MISSION
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="headingTwo">
                <div class="panel-body">
                    OBOX is an organization committed to pursue EXCELLENCE, embrace CHANGE,
                    institute INTEGRITY and provide reliable, high quality support in our quest to

                </div>
            </div>
        </div>

        <hr>

        <div class="panel panel-warning">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Partner Network
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="headingThree">
                <div class="panel-body">
                    OBOX continues to partner with leading companies around the world
                    providing

                </div>
            </div>
        </div>

        <hr>

        <div class="panel panel-warning">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Best Solutions
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="headingFour">
                <div class="panel-body">
                    OBOX has the expertise in conducting requirement analysis, value
                    Engineering, assistance in planning and executing projects for public and private

                </div>
            </div>
        </div>*@

            </div>
        </div>
    </div>
</div>