﻿@model AspNetCoreMvcTemplate.Web.ViewModels.AboutUsViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/websiteAssets/assets/css/about-us.css">
}


@section Scripts{

}



@section contact{
    @Html.Partial("_WebsiteContactPartial", new AspNetCoreMvcTemplate.Data.Models.ContactModel())
}





@section footer{
    @*Hi from index view this should view before layput footer*@
}
<div class="main-top" id="home">
    <!-- header -->
    <header>
        <div class="container-fluid" id="main-nav">
            <nav class="obox-nav opacity-obox" role="navigation">
                <!--start header partial-->
                <partial name="_WebsiteHeaderPartial" />
                <!--end header partial-->
            </nav>
        </div>
    </header>
    <!-- //header -->
</div>

























<div class="about-inner">
    <div class="container pb-xl-2 pb-lg-1">
        <div class="row py-xl-4">
            <div class="col-lg-5 about-right-faq pr-5">
                @Html.Raw(Model.AboutUs.PageGreatingHTML)
            </div>
            <div class="col-lg-7 welcome-right text-center">
                <img src="@Model.AboutUs.PageGreatingImg" class="img-fluid">
            </div>
        </div>
    </div>
</div>



<section class="why bg-li py-5" id="why">
    <div class="container py-xl-5 py-3">
        <div class="row">


            @*<div class="col-md-4">
            <div class="ser-grd">
                <div class="row">
                    <div class="col-md-3 col-2 text-center services-icon icon-clr5">
                        <span class="fa fa-handshake-o"></span>
                    </div>
                    <div class="col-md-9 col-10 text-left services-grid">
                        <h4>Title Here</h4>
                        <p>Natus error sit voluptatem accusantium dolo remque lauda ntium.</p>
                    </div>
                </div>
            </div>
        </div>*@


            @foreach (var tile in Model.AboutUsTitles)
            {
                <div class="col-md-4">
                    <div class="ser-grd">
                        <div class="row">
                            <div class="col-md-3 col-2 text-center services-icon icon-clr5">
                               <img width="60px" src="@tile.Image" />
                            </div>
                            <div class="col-md-9 col-10 text-left services-grid">
                                <h4>@tile.Title</h4>
                                <p>@tile.Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            }





            @*<div class="col-md-4">
            <div class="ser-grd">
                <div class="row">
                    <div class="col-md-3 col-2 text-center services-icon icon-clr5">
                        <span class="fa fa-handshake-o"></span>
                    </div>
                    <div class="col-md-9 col-10 text-left services-grid">
                        <h4>Title Here</h4>
                        <p>Natus error sit voluptatem accusantium dolo remque lauda ntium.</p>
                    </div>
                </div>
            </div>
            <div class="ser-grd mt-md-5 mt-4">
                <div class="row">
                    <div class="col-md-3 col-2 text-center services-icon icon-clr6">
                        <span class="fa fa-coffee"></span>
                    </div>
                    <div class="col-md-9 col-10 text-left services-grid">
                        <h4>Title Here</h4>
                        <p>Natus error sit voluptatem accusantium dolo remque lauda ntium.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ser-grd mt-md-0 mt-4">
                <div class="row">
                    <div class="col-md-3 col-2 text-center services-icon icon-clr1">
                        <span class="fa fa-headphones"></span>
                    </div>
                    <div class="col-md-9 col-10 text-left services-grid">
                        <h4>Title Here</h4>
                        <p>Natus error sit voluptatem accusantium dolo remque lauda ntium.</p>
                    </div>
                </div>
            </div>
            <div class="ser-grd mt-md-5 mt-4">
                <div class="row">
                    <div class="col-md-3 col-2 text-center services-icon icon-clr2">
                        <span class="fa fa fa-eye"></span>
                    </div>
                    <div class="col-md-9 col-10 text-left services-grid">
                        <h4>Title Here</h4>
                        <p>Natus error sit voluptatem accusantium dolo remque lauda ntium.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ser-grd mt-md-0 mt-4">
                <div class="row">
                    <div class="col-md-3 col-2 text-center services-icon icon-clr3">
                        <span class="fa fa-folder-open"></span>
                    </div>
                    <div class="col-md-9 col-10 text-left services-grid">
                        <h4>Title Here</h4>
                        <p>Natus error sit voluptatem accusantium dolo remque lauda ntium.</p>
                    </div>
                </div>
            </div>
            <div class="ser-grd mt-md-5 mt-4">
                <div class="row">
                    <div class="col-md-3 col-2 text-center services-icon icon-clr4">
                        <span class="fa fa-lightbulb-o"></span>
                    </div>
                    <div class="col-md-9 col-10 text-left services-grid">
                        <h4>Title Here</h4>
                        <p>Natus error sit voluptatem accusantium dolo remque lauda ntium.</p>
                    </div>
                </div>
            </div>
        </div>*@
        </div>
    </div>
</section>


<section class="bottom-count py-5" id="stats">
    <div class="container py-xl-5 py-lg-3">
        <div class="row">
            <div class="col-lg-5 left-img-obox">
                <img src="@Model.AboutUs.PageLastSectionImage" alt="" class="img-fluid" />
            </div>
            <div class="col-lg-7 right-img-obox pl-lg-4 mt-lg-2 mt-4">
                @Html.Raw(Model.AboutUs.PageLastSectionHTML)
            </div>
        </div>
    </div>
</section>













@if (Model.TeamMembers != null && Model.TeamMembers.Count > 0)
{
    <div class="container mt-40" id="ourTeamDiv">
        <h3 class="text-center">Our team</h3>
        <div class="row mt-30">

            @foreach (var teamMember in Model.TeamMembers)
            {
                <div class="col-md-4 col-sm-6 team-Member-Item">
                    <div class="box10">
                        <img src="@teamMember.Image">
                        <div class="box-content">
                            <h3 class="title">@teamMember.Name</h3>
                            <ul class="icon">
                                <li><a href="@teamMember.FirstLink" class="fa fa-search"></a></li>
                                <li><a href="@teamMember.SecondLink" class="fa fa-link"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

<br />





<section id="partners" class="container">
    <h3 class="tittle text-center font-weight-bold  partners-header">
        Our Partners
    </h3>
    <div class="row partners">
        @foreach (var partner in Model.Partners)
        {
            <div class="col-md-2 col-sm-6 col-xs-6 partner">
                <img alt="@partner.Title" src="@partner.Image">
            </div>
        }

    </div>
</section>











