﻿@using AspNetCoreMvcTemplate.Data.Models
@model IEnumerable<CompanyLocation>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/websiteAssets/assets/css/about-us.css">
}


@section Scripts{
    <script src="~/websiteAssets/assets/js/about-us-maps.js"></script>

    @foreach (CompanyLocation location in Model)
    {
        <script>
            @Html.Raw(location.ScriptForMap)
        </script>
    } 

}



@section contact{
    @Html.Partial("_WebsiteContactPartial", new AspNetCoreMvcTemplate.Data.Models.ContactModel())
}


@section footer{
}



<!-- main banner -->
<div class="main-top" id="home">
    <!-- header -->
    <header>
        <div class="container-fluid" id="main-nav">
            <nav class="obox-nav opacity-obox" role="navigation">
                <!--start header partial-->
                <partial name="_WebsiteHeaderPartial" />
                <!--end header partial-->
            </nav>
        </div>
    </header>
    <!-- //header -->
</div>









<section class="container" style="padding-top: 5em;padding-bottom: 5em">

    <div class="row">

        @foreach (CompanyLocation location in Model)
        {
            <div class="col-md-12 mt-5">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        @location.LocationName
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    P.O Box :  @location.LocationAddress
                                </p>
                                @if (!string.IsNullOrEmpty(location.Tel))
                                {
                                    <p>
                                        Tel:
                                        @location.Tel
                                    </p>
                                }

                                @if (!string.IsNullOrEmpty(location.Fax))
                                {
                                    <p>
                                        Fax:
                                        @location.Fax
                                    </p>
                                }


                                @if (!string.IsNullOrEmpty(location.ForSalesPhones))
                                {
                                    <div>
                                        For Sales, contact:
                                        @location.ForSalesPhones
                                    </div>
                                }

                                @if (!string.IsNullOrEmpty(location.ForServiceAndSupportPhones))
                                {
                                    <div>
                                        Service and Support, contact :
                                        @location.ForServiceAndSupportPhones
                                    </div>
                                }

                            </div>

                            <div class="col-md-6">
                                <div id="@location.MapDivId"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }



        @*<div class="col-md-12 mt-5">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        Kuwait
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    P.O Box : 44098, Hawally 32055, Kuwait.
                                </p>
                                <p>
                                    Tel: +965 2491 2377
                                </p>
                                <p>
                                    Fax: +965 2491 237
                                </p>
                                <div>
                                    For Sales, contact: +965 99993792,
                                    90008761,
                                    97285848
                                </div>
                                <div>
                                    Service and Support, contact +965
                                    97281858,
                                    90004029
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div id="kuwait-map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

    </div>

</section>

