﻿@model AspNetCoreMvcTemplate.Web.ViewModels.IndexVM
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/websiteAssets/assets/css/contact-us.css.css">
}


@section contact{

}


@section Scripts{
    <script>

        $("#btnCreateSubscriper").click(function () {
            var subscripeForm = $("#subscripeForm")[0];
            let isValidForm = subscripeForm.checkValidity();

            if (!isValidForm) {
                var d = flashy('Please Enter Valid Email', {
                    type: 'flashy__info'
                });
            }
            else {
                let subscriper = {
                    Email: $("#emailToSubscribe").val(),
                    Id: 0,
                };
                console.log(subscriper);
                debugger;
                $.ajax({
                    type: 'POST',
                    url: '/api/Contact/CreateSubscriber',
                    data: JSON.stringify(subscriper),
                    dataType: "json",
                    contentType: "application/json",
                    error: function (err) {
                        flashy('SomeThing Went Wrong .. Please Try Later', {
                            type: 'flashy__warning',
                        });
                    },
                    success: function (data) {
                        console.log(data);
                        flashy('Thank You For Subscribing', {
                            type: 'flashy__success'
                        });
                        $("#emailToSubscribe").val("")
                    }
                });
            }
        });


    </script>
}





@section footer{
    @*Hi from index view this should view before layput footer*@
}




<!-- main banner -->
<div class="main-top" id="home">
    <!-- header -->
    <header>
        <div class="container-fluid" id="main-nav">
            <nav class="obox-nav opacity-obox" role="navigation">
                <!--start header partial-->
                <partial name="_WebsiteHeaderPartial" />
                <!--end header partial-->
            </nav>
        </div>
    </header>
</div>




<div class="container-contact100">
    <div class="contact100-map map" id="map"></div>

    <div class="wrap-contact100">
        <div class="row">


            <partial name="_WebsiteContactSubPartial" />



            <div class="col-md-6 border-left">
                <form id="subscripeForm" class="contact-us-form validate-form">
                    <h5 class="pt-1 pb-1">
                        Subscribe to our News
                    </h5>
                    <div class="wrap-input validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <label class="label-input" for="email">
                            <img src="~/websiteAssets/assets/images/icons/079-hourglass.png">
                        </label>
                        <input id="emailToSubscribe" class="input100" type="text" name="email"
                               placeholder="Your Email Address">
                        <span class="focus-input"></span>
                    </div>
                </form>
                <div class="container-contact-us-form-btn">
                    <button id="btnCreateSubscriper" class="contact-us-form-btn">
                        Subscribe
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>