﻿@model AspNetCoreMvcTemplate.Web.ViewModels.IndexVM
@inject SignInManager<ApplicationUser> SignInManager
@using AspNetCoreMvcTemplate.Data.Models
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
    bool isUserLogedIn = SignInManager.IsSignedIn(User);
}



<!-- main banner -->
<div class="main-top" id="home">
    <!-- header -->
    <header>
        <div class="container-fluid" id="main-nav">
            <nav class="obox-nav opacity-obox" role="navigation">
                <!--start header partial-->
                <partial name="_WebsiteHeaderPartial" />
                <!--end header partial-->
            </nav>
        </div>
    </header>
    <!-- //header -->

    <div id="slider" class="owl-carousel owl-theme owl-loaded owl-drag owl-stage animated slideInRight">

        @*@if (isUserLogedIn)
        {
            <a href="/admin/slideitems/edit/@(singleSlide.Id)" class="link pl-2 pr-2"><i class="fa fa-location-arrow"></i></a>
        }*@


        @foreach (var singleSlide in Model.SlideItems)
        {

            <div>
                @if (singleSlide.IsVideo)
                {
                    <video autoplay loop muted playsinline class="video">
                        <source src="@singleSlide.BackGroundUrl" type="video/webm">
                        <source src="@singleSlide.BackGroundUrl" type="video/ogg">
                        <source src="@singleSlide.BackGroundUrl" type="video/mp4">
                    </video>
                }
                else
                {
                    <img class="image-slide" src="@singleSlide.BackGroundUrl" alt="slide">
                }


                <div class="slider-txt centralizeed-on-slider row">
                    <div class="col-md-1"></div>


                    @if (singleSlide.HasDivOnBackGround)
                    {
                        <div class="col-md-6 content  ">
                            <h3 class="obox_pvt-title">@singleSlide.Title <br><span>@singleSlide.SubTitle</span></h3>
                            <p class="text-sty-banner">
                                @singleSlide.Description
                            </p>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-6">
                        </div>
                    }
                    <div class="col-md-5 d-block d-sm-none d-md-block">
                        @if (!string.IsNullOrEmpty(singleSlide.Image))
                        {
                            <div class="banner-img">
                                <img src="@singleSlide.Image" alt="" class="img-fluid">
                            </div>
                        }

                    </div>
                </div>


            </div>
        }

    </div>

</div>


<!-- banner -->
@foreach (var boxcontainer in Model.BoxContainers)
{
    <div class="banner_obox position-relative animated slideInRight">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h3 class="obox_pvt-title">@boxcontainer.Title <br><span>@boxcontainer.SubTitle</span></h3>
                    <p style="color: black;">
                        @boxcontainer.Description
                    </p>
                    <a href="@boxcontainer.ReadMoreUrl" class="btn button-style mb-5 mt-4">Read More</a>
                </div>

                <div class="col-md-5 banner-obox-img" style="max-height:600px; overflow: hidden;">
                    <img src="@boxcontainer.Image" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
}





<section id="partners"></section>
<!-- partners -->
<section class="tittle text-center font-weight-bold  partners-header pt-5">
    <h3 class="tittle text-center font-weight-bold  partners-header pt-5">
        Our Partners
    </h3>
    <div class="row partners pt-5" data-av-animation="slideInRight">

        @foreach (var partner in Model.Partners)
        {
            <div class="col col-sm-2 partner">
                <img src="@partner.Image" alt="@partner.Title">
            </div>
        }


    </div>
</section>


<section id="map-section">
        <div class="row  pt-5" data-av-animation="slideInRight">
             <div id="map" class="map"></div>

          <div id="popup" class="ol-popup" style="max-width: 100px;">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
            <div id="popup-content"></div>
          </div>

        </div>
</section>


@* <section class="tittle text-center font-weight-bold  partners-header pt-5">
    <div class="row  pt-5" data-av-animation="slideInRight">


        <div id="popup" class="ol-popup">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
            <div id="popup-content"></div>
        </div>
    </div>
</section> *@


@*<section id="map-section"></section>
    <div class="container-fluid pt-5 animated slideInRight">
        <div id="map" class="map"></div>

        <div id="popup" class="ol-popup">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
            <div id="popup-content"></div>
        </div>
    </div>*@



@section contact{
    @Html.Partial("_WebsiteContactPartial", new AspNetCoreMvcTemplate.Data.Models.ContactModel())
}

@section footer{
    @*Hi from index view this should view before layput footer*@
}


@section Styles{

    <link rel='stylesheet prefetch' href='~/websiteAssets/assets/css/owl.carousel.min.css'>
    <link rel='stylesheet prefetch' href='~/websiteAssets/assets/css/owl.theme.min.css'>
    <link rel="stylesheet" type="text/css" href="~/websiteAssets/assets/css/slider-style.css">


}


@section Scripts{
    <script src='~/websiteAssets/assets/js/owl.carousel.min.js'></script>
    <script src="~/websiteAssets/assets/js/slider.js"></script>

}
