﻿@model AspNetCoreMvcTemplate.Data.Models.Product

@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/websiteAssets/assets/css/tracking-system.css" />
    <style>
    .product-banner{
        background-image: url(@Model.PageGreatingImg);
    }
    </style>
}
@section Scripts{

    <script>
        window.addEventListener("scroll", animationFocus);
        function animationFocus() {
            //testid="test"
            $(".animateMouceEnterLeave:visible").addClass("animated fadeInLeft");
        }




                                //$("div.animateMouceEnterLeave")
                                //    .on("mouseenter", function () {
                                //        $("p", this).first().text("mouse enter");
                                //    })
                                //    .on("mouseleave", function () {
                                //        $("p", this).first().text("mouse leave");
                                //        $("p", this).last().text(++n);
                                //    });
    </script>
}

@section contact{
    @Html.Partial("_WebsiteContactPartial", new AspNetCoreMvcTemplate.Data.Models.ContactModel())
}

PageGreatingImg--------------
@Model.PageGreatingImg

<!-- header -->
<header>
    <div class="container-fluid">
        <nav class="obox-nav opacity-obox" role="navigation" id="obox-main-menu">
            <!--start header partial-->
            <partial name="_WebsiteHeaderPartial" />
            <!--end header partial-->
        </nav>
        <nav class="obox-nav opacity-obox obox-nav-child" role="navigation" id="obox-product-menu">
            <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <div id="obox-logo">
                                <a asp-area="" asp-controller="Home" asp-action="Product" asp-route-id="@Model.Id">
                                    <img class="animated fadeInDown delay-1s" src="@Model.PageIcon">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-12 text-right menu-items">
                            <ul>
                                <li><a href="#overview" class="link">Overview</a></li>
                                <li><a href="#features" class="link pl-3">Feauters</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- end header -->
<!-- start cover -->
<section style="background-image: url(@Model.PageGreatingImg)" class="product-banner pt-5 animated zoomIn" id="overview">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 col-md-8 mt-5 mt-lg-0 pt-5">
                @Html.Raw(Model.PageGreatingHTML)
            </div>
            <div class="col-12 col-lg-4 col-md-4 mt-lg-0 pt-5">

            </div>
        </div>
    </div>
</section>






<!-- end cover -->
<!-- focus section -->
<section id="features" class="aniview pt-5" data-av-animation="slideInRight">
    <div class="container">
        <div class="row my-5">
            <div class="col-lg-12 text-center mt-5 mb-4">
                @Html.Raw(Model.PageFocusHeaderHTML)

            </div>
            @foreach (var focusItem in Model.ProductFocusItems)
            {
                <div class="animateMouceEnterLeave col-sm-6 col-lg-4 col-xl-3 mb-4">
                    <div class="card animated bounceIn">
                        <div class="card-body d-flex flex-row align-items-center justify-content-between feature">
                            <div><b>@focusItem.Title</b> <br>@focusItem.Description</div>
                            <img src="@focusItem.Image" class="img-fluid" width="60px" alt="">
                        </div>


                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!-- end focus section -->
<!-- product hint -->
<section class="section-padding--small bg-magnolia aniview" data-av-animation="slideInRight">
    <div class="container">
        <div class="row align-items-center pt-xl-3 pb-xl-5">
            <div class="col-lg-6">
                <div class="solution__img text-center text-lg-left mb-4 mb-lg-0">
                    <img class="img-fluid" src="@Model.PageLastSectionImage" alt="maintenance-system" />
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="solution__content">
                    @Html.Raw(Model.PageLastSectionHTML)
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end product hint -->


@if (Model.ViewInWebSiteProductFooterHTML)
{
    <section class="section-padding--small bg-magnolia aniview" data-av-animation="slideInRight">
        <div class="container">
            <div class="row align-items-center pt-xl-3 pb-xl-5">
                @Html.Raw(Model.ProductFooterHTML)
            </div>
        </div>
    </section>
}
